{% extends 'base.html.twig' %}

{% block title %}Hello BirdController!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col12">
			<h1>A Field Guide to Angry Birds</h1>
			<h2>Games that lodge in the brain often have comical stars</h2>
		</div>
	</div>
	<div class="row">
		{% for bird in birds %}
			<div class="card text-center m-1 {% if loop.index0 is odd %} impair {% else %} pair {% endif %}" style="width: 18rem;">
				<a href="{{ path('bird_single', {id: bird.id}) }}" class="">
					<img src="{{asset('images/' ~ bird.image ) }} " class="card-img-top" alt="...">
					<div class="card-body">

						<h5 class="card-title">{{bird.name}}</h5>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>

{% endblock %}
